In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("../data/profiles.csv")

## Remove unneeded variables

First, let's drop all the columns we won't use.

In [15]:
df.drop(['last_online', 'location', 'sign'], axis=1, inplace=True)
df.drop([f"essay{n}" for n in np.arange(0,10)], axis=1, inplace=True)

## Refactor "diet" variable

The "diet" variable has 6 possible cuisines (anything, vegetarian, vegan, kosher, halal, and other) and 2 changers (mostly/strictly), which might create unnecessary dummy variables that won't add value to the model. So let's boil it down to diet type without the nuance.

In [16]:
df['diet'].replace(["mostly ", "strictly "], "", regex=True, inplace=True)
df['diet']

0          anything
1             other
2          anything
3        vegetarian
4               NaN
            ...
59941           NaN
59942      anything
59943      anything
59944      anything
59945           NaN
Name: diet, Length: 59946, dtype: object

## Parse spoken languages

The same goes for the `language` variable. There are 3 modifiers for a multitude of languages. The permutation between all possible values will generate thousands of unnecessary columns. Let's just keep the languages.

In [17]:
df['speaks'].replace([" \(fluently\)", " \(okay\)", " \(poorly\)"], "", regex=True, inplace=True)
df["speaks"]

0                                            english
1                           english, spanish, french
2                               english, french, c++
3                                    english, german
4                                            english
                            ...
59941                                        english
59942                                        english
59943                                        english
59944    english, spanish, chinese, korean, japanese
59945                                        english
Name: speaks, Length: 59946, dtype: object

But filtering out the language modifiers isn't enough. There's only one column for all the user's spoken languages, whose combination might generate a dozen thousands dummy variables. Therefore, each `speaks` value should be parsed and gain a dummy variable of its own.

In [18]:
def parse_to_dummies(df, column):
    """
    Transforms a column with comma-separated values into new 0-or-1 columns.
    """
    expanded_values = df[column].str.split(pat=", ", expand=True)
    # see https://stackoverflow.com/questions/26977076/pandas-unique-values-multiple-columns 
    unique_labels = pd.unique(expanded_values.values.ravel('K'))
    table_shape = (df.shape[0], len(unique_labels))
    dummy_table = pd.DataFrame(np.zeros(table_shape, dtype="int"),
                              columns=[f"{column}_{label}" for label in unique_labels])
    for index,row in expanded_values.iterrows():
        for item in row:
            dummy_table.at[index, f"{column}_{item}"] = 1
   
    dummy_table.drop([f"{column}_None"], axis=1, inplace=True)
    df_drop_column = df.drop(column, axis=1)
    return pd.concat([df_drop_column, dummy_table], axis=1)

df = parse_to_dummies(df, column="speaks")

## Convert "drink" values into a numerical scale

In [19]:
df['drinks'].replace({"not at all": 0,
                     "rarely": 1,
                     "socially": 2,
                     "often": 3,
                     "very often": 4,
                     "desperately": 5}, inplace=True)
df['drinks']

0        2.0
1        3.0
2        2.0
3        2.0
4        2.0
        ...
59941    2.0
59942    3.0
59943    0.0
59944    2.0
59945    2.0
Name: drinks, Length: 59946, dtype: float64

## Extract offspring

In [20]:
df['offspring'].replace(['doesn&rsquo;t have kids',
                         'doesn&rsquo;t have kids, and doesn&rsquo;t want any',
                         'doesn&rsquo;t have kids, but might want them',
                         'doesn&rsquo;t have kids, but wants them',
                         'might want kids',
                         'doesn&rsquo;t want kids',
                         'wants kids'], 0, inplace=True)

df['offspring'].replace(['has a kid',
                         'has a kid, and might want more',
                         'has a kid, and wants more',
                         'has a kid, but doesn&rsquo;t want more',
                         'has kids',
                         'has kids, and might want more',
                         'has kids, and wants more',
                         'has kids, but doesn&rsquo;t want more',], 1, inplace=True)

## Extract ethnicities

In [21]:
df = parse_to_dummies(df, column="ethnicity")

## Cleaning up religion

Let's remove the religion variable modifiers.

In [ ]:
df['religion'].replace([" and laughing about it",
                       " somewhat serious about it",
                       " and very serious about it",
                       " but not too serious about it"], "", inplace=True)

## Extract pet information

In [45]:
df["pets"].fillna("Unknown", inplace=True)
df['dog_person'] = df['pets'].apply(lambda x: 1 if ("has dogs" in x) or ("likes dogs" in x) else 0)
df['cat_person'] = df['pets'].apply(lambda x: 1 if ("has cats" in x) or ("likes cats" in x) else 0)

## Create dummy variables from categorical columns

In [10]:
def create_dummy(df):
    """
    Creates dummy variables for all the categorial variables in a DataFrame and concatenates it
    with the original numerical columns.
    Input: pandas DataFrame
    Output: pandas DataFrame
    """
    cat_cols = df.select_dtypes(include="object").columns
    num_cols = df.select_dtypes(exclude="object").columns
    dummy_df = pd.get_dummies(df[cat_cols],
                              prefix=cat_cols,
                              prefix_sep="_",
                              dummy_na=True,
                              columns=cat_cols)
                              
    df_new = pd.concat([df[num_cols], dummy_df], axis=1)
    return df_new

In [11]:
df = create_dummy(df)
df.head()

,age,drinks,height,income,offspring,speaks_english,speaks_nan,speaks_afrikaans,speaks_french,speaks_portuguese,...,smokes_trying to quit,smokes_when drinking,smokes_yes,smokes_nan,status_available,status_married,status_seeing someone,status_single,status_unknown,status_nan
0,22,2.0,75.0,-1,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,35,3.0,70.0,80000,0.0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,38,2.0,68.0,-1,NaN,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,23,2.0,71.0,20000,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,29,2.0,66.0,-1,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
for x in df.columns:
    print(x)

age
drinks
height
income
offspring
speaks_english
speaks_nan
speaks_afrikaans
speaks_french
speaks_portuguese
speaks_spanish
speaks_german
speaks_chinese
speaks_sign language
speaks_c++
speaks_tagalog
speaks_other
speaks_russian
speaks_dutch
speaks_indonesian
speaks_swedish
speaks_belarusan
speaks_japanese
speaks_farsi
speaks_italian
speaks_hindi
speaks_polish
speaks_korean
speaks_czech
speaks_croatian
speaks_vietnamese
speaks_esperanto
speaks_latin
speaks_greek
speaks_norwegian
speaks_hebrew
speaks_arabic
speaks_tibetan
speaks_georgian
speaks_thai
speaks_swahili
speaks_khmer
speaks_turkish
speaks_tamil
speaks_lisp
speaks_serbian
speaks_sanskrit
speaks_bengali
speaks_catalan
speaks_hungarian
speaks_irish
speaks_urdu
speaks_romanian
speaks_finnish
speaks_bulgarian
speaks_ancient greek
speaks_yiddish
speaks_hawaiian
speaks_lithuanian
speaks_cebuano
speaks_persian
speaks_maori
speaks_danish
speaks_gujarati
speaks_albanian
speaks_frisian
speaks_ilongo
speaks_icelandic
speaks_slovenian
speaks_latvian
speaks_occitan
speaks_malay
speaks_mongolian
speaks_rotuman
speaks_slovak
speaks_ukrainian
speaks_armenian
speaks_estonian
speaks_chechen
speaks_welsh
speaks_basque
speaks_breton
speaks_sardinian
ethnicity_asian
ethnicity_white
ethnicity_nan
ethnicity_hispanic / latin
ethnicity_pacific islander
ethnicity_black
ethnicity_middle eastern
ethnicity_native american
ethnicity_indian
ethnicity_other
body_type_a little extra
body_type_athletic
body_type_average
body_type_curvy
body_type_fit
body_type_full figured
body_type_jacked
body_type_overweight
body_type_rather not say
body_type_skinny
body_type_thin
body_type_used up
body_type_nan
diet_anything
diet_halal
diet_kosher
diet_other
diet_vegan
diet_vegetarian
diet_nan
drugs_never
drugs_often
drugs_sometimes
drugs_nan
education_college/university
education_dropped out of college/university
education_dropped out of high school
education_dropped out of law school
education_dropped out of masters program
education_dropped out of med school
education_dropped out of ph.d program
education_dropped out of space camp
education_dropped out of two-year college
education_graduated from college/university
education_graduated from high school
education_graduated from law school
education_graduated from masters program
education_graduated from med school
education_graduated from ph.d program
education_graduated from space camp
education_graduated from two-year college
education_high school
education_law school
education_masters program
education_med school
education_ph.d program
education_space camp
education_two-year college
education_working on college/university
education_working on high school
education_working on law school
education_working on masters program
education_working on med school
education_working on ph.d program
education_working on space camp
education_working on two-year college
education_nan
job_artistic / musical / writer
job_banking / financial / real estate
job_clerical / administrative
job_computer / hardware / software
job_construction / craftsmanship
job_education / academia
job_entertainment / media
job_executive / management
job_hospitality / travel
job_law / legal services
job_medicine / health
job_military
job_other
job_political / government
job_rather not say
job_retired
job_sales / marketing / biz dev
job_science / tech / engineering
job_student
job_transportation
job_unemployed
job_nan
location_alameda, california
location_albany, california
location_amsterdam, netherlands
location_arcadia, california
location_asheville, north carolina
location_ashland, california
location_astoria, new york
location_atherton, california
location_atlanta, georgia
location_austin, texas
location_bayshore, california
location_bellingham, washington
location_bellwood, illinois
location_belmont, california
location_belvedere tiburon, california
location_benicia, california
location_berkeley, california
location_billings, montana
location_boise, idaho
location_bolinas, california
location_bonaduz, switzerland
location_boston, massachusetts
location_boulder, colorado
location_brea, california
location_brisbane, california
location_brooklyn, new york
location_burlingame, california
location_cambridge, massachusetts
location_campbell, california
location_canyon country, california
location_canyon, california
location_castro valley, california
location_chicago, illinois
location_chico, california
location_cincinnati, ohio
location_colma, california
location_columbus, ohio
location_concord, california
location_cork, ireland
location_corte madera, california
location_costa mesa, california
location_crockett, california
location_crowley, texas
location_daly city, california
location_denver, colorado
location_east palo alto, california
location_edinburgh, united kingdom
location_el cerrito, california
location_el granada, california
location_el sobrante, california
location_emeryville, california
location_fairfax, california
location_fayetteville, west virginia
location_forest knolls, california
location_fort lauderdale, florida
location_foster city, california
location_freedom, california
location_fremont, california
location_glencove, california
location_grand rapids, michigan
location_granite bay, california
location_green brae, california
location_guadalajara, mexico
location_hacienda heights, california
location_half moon bay, california
location_hayward, california
location_hercules, california
location_hilarita, california
location_hillsborough, california
location_honolulu, hawaii
location_irvine, california
location_isla vista, california
location_islip terrace, new york
location_jackson, mississippi
location_kansas city, missouri
location_kassel, germany
location_kensington, california
location_kentfield, california
location_kula, hawaii
location_lafayette, california
location_lagunitas, california
location_lake orion, michigan
location_larkspur, california
location_las vegas, nevada
location_leander, texas
location_livingston, california
location_london, united kingdom
location_long beach, california
location_long beach, new york
location_longwood, florida
location_los angeles, california
location_los gatos, california
location_madrid, spain
location_magalia, california
location_marin city, california
location_martinez, california
location_menlo park, california
location_miami, florida
location_mill valley, california
location_millbrae, california
location_milpitas, california
location_milwaukee, wisconsin
location_minneapolis, minnesota
location_modesto, california
location_montara, california
location_moraga, california
location_moss beach, california
location_mountain view, california
location_muir beach, california
location_murfreesboro, tennessee
location_napa, california
location_nevada city, california
location_new orleans, louisiana
location_new york, new york
location_nha trang, vietnam
location_nicasio, california
location_north hollywood, california
location_novato, california
location_oakland, california
location_oakley, california
location_oceanview, california
location_olema, california
location_orange, california
location_orinda, california
location_ozone park, new york
location_pacheco, california
location_pacifica, california
location_palo alto, california
location_pasadena, california
location_peoria, illinois
location_petaluma, california
location_philadelphia, pennsylvania
location_phoenix, arizona
location_piedmont, california
location_pinole, california
location_pleasant hill, california
location_point richmond, california
location_port costa, california
location_portland, oregon
location_providence, rhode island
location_redwood city, california
location_redwood shores, california
location_richmond, california
location_riverside, california
location_rochester, michigan
location_rodeo, california
location_rohnert park, california
location_ross, california
location_sacramento, california
location_salt lake city, utah
location_san anselmo, california
location_san antonio, texas
location_san bruno, california
location_san carlos, california
location_san diego, california
location_san francisco, california
location_san geronimo, california
location_san jose, california
location_san leandro, california
location_san lorenzo, california
location_san luis obispo, california
location_san mateo, california
location_san pablo, california
location_san quentin, california
location_san rafael, california
location_santa ana, california
location_santa clara, california
location_santa cruz, california
location_santa monica, california
location_santa rosa, california
location_sausalito, california
location_seaside, california
location_seattle, washington
location_south lake tahoe, california
location_south orange, new jersey
location_south san francisco, california
location_south wellfleet, massachusetts
location_stanford, california
location_stinson beach, california
location_stockton, california
location_stratford, connecticut
location_studio city, california
location_sunnyvale, california
location_taunton, massachusetts
location_tiburon, california
location_tucson, arizona
location_union city, california
location_utica, michigan
location_vacaville, california
location_vallejo, california
location_vancouver, british columbia, canada
location_walnut creek, california
location_washington, district of columbia
location_waterford, california
location_west oakland, california
location_westlake, california
location_woodacre, california
location_woodbridge, virginia
location_woodside, california
location_nan
orientation_bisexual
orientation_gay
orientation_straight
orientation_nan
pets_dislikes cats
pets_dislikes dogs
pets_dislikes dogs and dislikes cats
pets_dislikes dogs and has cats
pets_dislikes dogs and likes cats
pets_has cats
pets_has dogs
pets_has dogs and dislikes cats
pets_has dogs and has cats
pets_has dogs and likes cats
pets_likes cats
pets_likes dogs
pets_likes dogs and dislikes cats
pets_likes dogs and has cats
pets_likes dogs and likes cats
pets_nan
religion_agnosticism
religion_agnosticism and laughing about it
religion_agnosticism and somewhat serious about it
religion_agnosticism and very serious about it
religion_agnosticism but not too serious about it
religion_atheism
religion_atheism and laughing about it
religion_atheism and somewhat serious about it
religion_atheism and very serious about it
religion_atheism but not too serious about it
religion_buddhism
religion_buddhism and laughing about it
religion_buddhism and somewhat serious about it
religion_buddhism and very serious about it
religion_buddhism but not too serious about it
religion_catholicism
religion_catholicism and laughing about it
religion_catholicism and somewhat serious about it
religion_catholicism and very serious about it
religion_catholicism but not too serious about it
religion_christianity
religion_christianity and laughing about it
religion_christianity and somewhat serious about it
religion_christianity and very serious about it
religion_christianity but not too serious about it
religion_hinduism
religion_hinduism and laughing about it
religion_hinduism and somewhat serious about it
religion_hinduism and very serious about it
religion_hinduism but not too serious about it
religion_islam
religion_islam and laughing about it
religion_islam and somewhat serious about it
religion_islam and very serious about it
religion_islam but not too serious about it
religion_judaism
religion_judaism and laughing about it
religion_judaism and somewhat serious about it
religion_judaism and very serious about it
religion_judaism but not too serious about it
religion_other
religion_other and laughing about it
religion_other and somewhat serious about it
religion_other and very serious about it
religion_other but not too serious about it
religion_nan
sex_f
sex_m
sex_nan
sign_aquarius
sign_aquarius and it matters a lot
sign_aquarius and it&rsquo;s fun to think about
sign_aquarius but it doesn&rsquo;t matter
sign_aries
sign_aries and it matters a lot
sign_aries and it&rsquo;s fun to think about
sign_aries but it doesn&rsquo;t matter
sign_cancer
sign_cancer and it matters a lot
sign_cancer and it&rsquo;s fun to think about
sign_cancer but it doesn&rsquo;t matter
sign_capricorn
sign_capricorn and it matters a lot
sign_capricorn and it&rsquo;s fun to think about
sign_capricorn but it doesn&rsquo;t matter
sign_gemini
sign_gemini and it matters a lot
sign_gemini and it&rsquo;s fun to think about
sign_gemini but it doesn&rsquo;t matter
sign_leo
sign_leo and it matters a lot
sign_leo and it&rsquo;s fun to think about
sign_leo but it doesn&rsquo;t matter
sign_libra
sign_libra and it matters a lot
sign_libra and it&rsquo;s fun to think about
sign_libra but it doesn&rsquo;t matter
sign_pisces
sign_pisces and it matters a lot
sign_pisces and it&rsquo;s fun to think about
sign_pisces but it doesn&rsquo;t matter
sign_sagittarius
sign_sagittarius and it matters a lot
sign_sagittarius and it&rsquo;s fun to think about
sign_sagittarius but it doesn&rsquo;t matter
sign_scorpio
sign_scorpio and it matters a lot
sign_scorpio and it&rsquo;s fun to think about
sign_scorpio but it doesn&rsquo;t matter
sign_taurus
sign_taurus and it matters a lot
sign_taurus and it&rsquo;s fun to think about
sign_taurus but it doesn&rsquo;t matter
sign_virgo
sign_virgo and it matters a lot
sign_virgo and it&rsquo;s fun to think about
sign_virgo but it doesn&rsquo;t matter
sign_nan
smokes_no
smokes_sometimes
smokes_trying to quit
smokes_when drinking
smokes_yes
smokes_nan
status_available
status_married
status_seeing someone
status_single
status_unknown
status_nan